<div class="container">

    <div class="row mb-5">

        <div class="col">

            <div *ngIf="isLoading" class="text-center">
                <div class="loader"></div>
            </div>

            <div *ngIf="hasOrder" class="mt-2">

                <h5 class="text-primary ">Órden</h5>
                <h6 class="text-muted">{{order.id | leftzeroes}}</h6>
                <hr />

                <div class="row mb-3">

                    <div class="col-sm-2 col-md-3 mb-2">
                        <span class="h6">Código:</span><br /> <span>{{order.code}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3 mb-2">
                        <span class="h6">Fecha de alta:</span><br /> <span>{{order.creationDate | date: "dd/MM/yyyy hh:mm:ss"}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3 mb-2">
                        <span class="h6">Última modificación:</span><br /> <span>{{order.lastModified | date: "dd/MM/yyyy hh:mm:ss"}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3 mb-2">
                        <span class="h6">Estado:</span><br />
                        <span ngbTooltip="{{order.status.description}}"
                              [class.text-muted]="order.status.name === 'CANCELADA'"
                              [class.text-success]="order.status.name === 'EN_PROCESO'"
                              [class.text-primary]="order.status.name === 'IRRADIADA'"
                              [class.text-warning]="order.status.name === 'PENDIENTE'"
                              [class.text-danger]="order.status.name === 'RECHAZADA'">{{order.status.name}}</span>
                    </div>


                </div>

                <div class="row mb-3">

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Ingresada por:</span>
                        <br />
                        <span>{{order.owner.firstname}} {{order.owner.lastname}}</span>
                        <span> /</span>
                        <br />
                        <span class="text-primary">{{order.owner.institution.name}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Aceptada por:</span><br />
                        <span *ngIf="!order.orderAcceptor">-</span>
                        <span *ngIf="order.orderAcceptor">{{order.orderAcceptor.firstname}} {{order.orderAcceptor.lastname}} <br /> {{order.acceptedOn | date: "dd/MM/yyyy hh:mm"}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Prioridad:</span><br /> <span ngbTooltip="{{order.priority.description}}">{{order.priority.name}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Transportista:</span><br /> <span>{{order.carrier}}</span>
                    </div>

                </div>

                <h6 class="text-primary  mt-4">Unidades</h6>
                <hr />

                <div class="row mb-3">

                    <div class="col-sm-2">
                        <span class="h6 mr-1">Total: </span> <span>{{order.unitCount}}</span>
                    </div>

                    <div *ngFor="let mapping of order.unitTypeMappings" class="col-sm-2">
                        <span class="h6 mr-1">{{mapping.unitType.code}}: </span> <span>{{mapping.count}}</span>
                    </div>

                </div>

                <div class="table-responsive mt-3">
                    <table *ngIf="order" class="table table-bordered table-hover table-stripped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let unit of order.units">
                                <td>{{unit.code}}</td>
                                <td>{{unit.type.code}} - {{unit.type.name}}</td>
                                <td>{{unit.creationDate | date: "dd/MM/yyyy"}}</td>

                            </tr>
                        </tbody>
                    </table>


                </div>

                <div *ngIf="canModify" class="d-flex flex-wrap justify-content-end">
                    <button class="btn btn-primary rounded-0 px-5 ml-2" (click)="acceptOrder()">Aceptar</button>
                    <button class="btn btn-danger rounded-0 px-5 ml-2" (click)="rejectOrder()">Rechazar</button>
                </div>

                <h6 class="text-primary  mt-3">Historial de revisiones</h6>
                <hr />

                <table *ngIf="order" class="table table-bordered table-hover table-stripped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Comentario</th>
                            <th>Operador</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comment of order.conciliationComments">
                            <td>{{comment.date | date: "dd/MM/yyyy hh:mm"}}</td>
                            <td>{{comment.comment}}</td>
                            <td>{{comment.operator.firstname}} {{comment.operator.lastname}}</td>
                        </tr>
                    </tbody>
                </table>


                <h6 class="text-primary mb-1 mt-3">Historial de irradiaciones: </h6>
                <hr />

                <ul class="list-unstyled">

                    <li class="media mb-3 border-bottom" *ngFor="let irradiation of order.irradiations">

                        <img class="mr-3" [src]="irradiation.irradiator.avatarUrl" height="50" width="50">
                        <div class="media-body">

                            <h6 class="mt-0 mb-1">Fecha: </h6>
                            <p class="text-primary">{{irradiation.irradiationStart | date: "dd/MM/yyyy hh:mm"}}</p>

                            <div class="container">

                                <div class="row">

                                    <div class="col-md-3 pl-0">
                                        <h6>Operador</h6>
                                        <p>{{irradiation.irradiator.firstname}} {{irradiation.irradiator.lastname}}</p>
                                    </div>

                                    <div class="col-md-3 pl-0">
                                        <h6>Etiqueta</h6>
                                        <p>{{irradiation.irradiationTag}}</p>
                                    </div>

                                    <div class="col-md-3 pl-0">
                                        <h6>Total unidades: </h6>
                                        <p>{{irradiation.units.length}}</p>
                                    </div>

                                    <div class="col-md-3 pl-0">
                                        <h6>Tiempo total de irradiación: </h6>
                                        <p>{{irradiation.irradiationTime}} min</p>
                                    </div>

                                </div>
                            </div>


                            <table class="table table-bordered table-hover table-stripped">
                                <thead>
                                    <tr>
                                        <th>Etiqueta</th>
                                        <th>Codigo</th>
                                        <th>Tipo</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let unit of irradiation.units">
                                        <td>{{irradiation.irradiationTag}}</td>
                                        <td>{{unit.code}}</td>
                                        <td>{{unit.type.code}} - {{unit.type.name}}</td>
                                        <td>{{irradiation.irradiationStart | date: "hh:mm:ss"}}</td>
                                        <td>{{irradiation.irradiationEnd | date: "hh:mm:ss"}}</td>
                                        <td>{{irradiation.irradiationTime}} min</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h6 class="mt-0 mb-1 text-success">Comentarios: </h6>
                            <p class="text-muted">{{irradiation.comments}}</p>

                        </div>

                    </li>

                </ul>





            </div>



        </div>
    </div>
</div>
