<div class="container">


    <div class="row">

        <div class="col-8 mx-auto">

            <div class="card shadow-sm mb-3 p-2">
                <div class="card-body">
                    <h5 class="card-title">Instituciones</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Administración de instituciones clientes del Banco</h6>
                    <a routerLink="/administradores/instituciones" class="card-link">Acceder</a>
                </div>
            </div>


            <div class="card shadow-sm mb-3 p-2">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Administración de usuarios del sistema</h6>
                    <a routerLink="/administradores/usuarios" class="card-link">Acceder</a>
                </div>
            </div>

            <div class="card shadow-sm mb-3 p-2">
                <div class="card-body">
                    <h5 class="card-title">Tipos de unidades</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Administración de hemocomponentes</h6>
                    <a class="card-link" routerLink="/administradores/hemocomponentes">Acceder</a>
                </div>
            </div>

            <div class="card shadow-sm mb-3 p-2">
                <div class="card-body">
                    <h5 class="card-title">Configuración del sistema</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Administración de los principales parámetros del sistema</h6>
                    <a class="card-link" routerLink="/administradores/configuración">Acceder</a>
                </div>
            </div>



        </div>

    </div>

</div>
