<div class="container">


    <div class="row">

        <div class="col-md-6 col-lg-4 mb-2">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Administración de usuarios del sistema</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Ver Usuarios</a>
                    <a href="#" class="card-link">Home</a>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Instituciones</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Administración de instituciones clientes del Banco</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="/administradores/instituciones" class="card-link">Ver Instituciones</a>
                    <a href="#" class="card-link">Home</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tipos de unidades</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Administración de hemocomponentes</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Ver hemocomponentes</a>
                    <a href="#" class="card-link">Home</a>
                </div>
            </div>
        </div>



    </div>

</div>
