<div class="container">

    <div class="row">

        <div class="col-12 mx-auto" *ngIf="config">

            <h5 class="text-primary font-weight-normal mt-4">Configuración del sistema</h5>
            <span class="text-muted">Parámetros principales</span>
            <hr />

            <form [formGroup]="configForm" (submit)="updateConfig()">

                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>Tiempo mínimo de irradiación</label>
                            <input type="text" formControlName="minTimeOfIrradiationInMinutes" class="form-control" />
                            <span class="text-muted">Tiempo mínimo de irradiación expresado en minutos (Última actualización: {{config.lastUpdated | date: "dd/MM/yyyy hh:mm:ss"}})</span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary rounded-0 px-3" type="submit" [disabled]="configForm.invalid">Guardar</button>
                        </div>
                    </div>
                </div>

            </form>


        </div>

    </div>

</div>
