<div *ngIf="!isPrinting" class="d-flex  flex-wrap justify-content-start  align-items-center bg-white bg-faded  py-3 px-4 border-bottom">

    <div class="d-none d-lg-inline-flex flex-fill">
        <a routerLink="/">
            <img src="assets/logo.png" class="d-inline-block" height="35">
        </a>
    </div>

    <div *ngIf="showsProfile"
         class="d-inline-flex flex-fill flex-wrap align-items-center justify-content-start justify-content-lg-end">

        <div class="d-inline-flex flex-column ml-3 order-2 order-lg-1">
            <div class="text-lg-right">
                <span>{{currentUser?.firstname}} {{currentUser?.lastname}}</span>
                <span *ngIf="isClient" class="text-muted"> | {{currentUser.institution?.name}}</span>
                <span *ngIf="!isClient" class="text-muted"> | Banco de Sangre</span>
            </div>
            <div class="text-lg-right" *ngIf="!isClient">
                <a *ngIf="canAdmin" [routerLink]="['/administradores']">Administrar Banco<span class="text-muted"> | </span></a>
                <a *ngIf="canAdmin" [routerLink]="['/operadores']">Órdenes<span class="text-muted"> | </span></a>
                <a *ngIf="currentUser.isInternal" [routerLink]="['/operadores/informes/diario']">Informe diario<span class="text-muted"> | </span></a>
                <a *ngIf="currentUser.isInternal" [routerLink]="['/operadores/informes/mensual']">Informe mensual</a>
                <span class="text-muted"> | </span>
                <span class="btn-link" (click)="logout()"
                      *ngIf="(!currentUser.isInternal) || (currentUser.isInternal && !isIrradiationInProcess)">Cerrar sesión</span>
            </div>

            <div class="text-lg-right" *ngIf="isClient">
                <span class="btn-link" (click)="logout()">Cerrar sesión</span>
            </div>


        </div>

        <div class="order-1 order-lg-2">
            <img [src]="currentUser.avatarUrl" class="p-0 m-0 ml-lg-3 rounded-circle" height="40">
        </div>

    </div>



</div>
