<div class="container">

    <div class="row">

        <div class="col-12 mx-auto" *ngIf="hasInstitution">

            <h5 class="text-primary ">Institución</h5>
            <h6 class="text-muted">{{institution.id | leftzeroes}}</h6>
            <hr />

            <form [formGroup]="institutionForm">

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">CUIT</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="cuit">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Nombre</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="name">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="email">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputEmail4">Dirección</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="address">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleFormControlSelect2">Tipo</label>
                        <select class="form-control" formControlName="type">
                            <option [ngValue]="null">Seleccionar ...</option>
                            <option *ngFor="let type of it" [ngValue]="type">{{type.name}} - {{type.description}}</option>
                        </select>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Órdenes</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="orderCount">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Usuarios: </label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="userCount">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Caracteres a descartar: </label>
                        <input type="text" class="form-control" id="inputEmail4" formControlName="invalidCharCount">
                    </div>

                </div>


                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary rounded-0 shadow-sm" [disabled]="institutionForm.invalid" (click)="saveInstitution()">Guardar</button>
                </div>
            </form>



            <div *ngIf="newUserInProcess">

                <h6 class="text-primary ">Alta de usuario</h6>
                <hr />

                <form [formGroup]="userForm" (submit)="createUser()">

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Apellido</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Apellido" formControlName="firstname" [focused]="{should: true}">
                            <div class="d-flex flex-column" *ngIf="submitted && userForm.controls.firstname.errors">
                                <span class="text-danger" *ngIf="userForm.controls.firstname.errors.required">Ingrese el apellido del usuario</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Nombre</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Nombre" formControlName="lastname">
                            <div class="d-flex flex-column" *ngIf="submitted && userForm.controls.lastname.errors">
                                <span class="text-danger" *ngIf="userForm.controls.lastname.errors.required">Ingrese el nombre del usuario</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputPassword4">DNI</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="DNI" formControlName="dni">
                            <div class="d-flex flex-column" *ngIf="submitted && userForm.controls.dni.errors">
                                <span class="text-danger" *ngIf="userForm.controls.dni.errors.required">Ingrese el dni</span>
                                <span class="text-danger" *ngIf="userForm.controls.dni.errors.pattern">DNI no válido</span>
                                <span class="text-danger" *ngIf="userForm.controls.dni.errors.minLength">DNI no válido</span>
                                <span class="text-danger" *ngIf="userForm.controls.dni.errors.maxLength">DNI no válido</span>
                            </div>
                        </div>



                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputCity">Nombre de usuario</label>
                            <input type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario">
                            <div class="d-flex flex-column" *ngIf="submitted && userForm.controls.username.errors">
                                <span class="text-danger" *ngIf="userForm.controls.username.errors.required">Ingrese nombre de usuario</span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputCity">Email</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="Email">
                            <div class="d-flex flex-column" *ngIf="submitted && userForm.controls.email.errors">
                                <span class="text-danger" *ngIf="userForm.controls.email.errors.required">Ingrese el email del usuario</span>
                                <span class="text-danger" *ngIf="userForm.controls.email.errors.email">Email no válido</span>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary rounded-0 px-3">Crear</button>
                        <button class="btn btn-secondary rounded-0 px-3 ml-2" (click)="cancelUser()">Cancelar</button>
                    </div>

                </form>


            </div>


            <div *ngIf="!newUserInProcess">
                <h6 class="text-primary " *ngIf="!newUserInProcess">Usuarios</h6>
                <hr />

                <div class="table-responsive">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>Email</th>
                                <th>Estado</th>
                                <th>Alta</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of institution.users">
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.firstname}} {{user.lastname}}</td>
                                <td>{{user.dni}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.accountConfirmed ? (user.active ? 'ACTIVO' : 'INACTIVO') : 'PENDIENTE'}}</td>
                                <td>{{user.creationDate | date: "dd/MM/yyyy"}}</td>
                                <td>
                                    <ul class="list-inline m-0">
                                        <li class="list-item m-0" *ngIf="!user.active"><button class="btn btn-primary rounded-0" (click)="enableUser(user.id)">Habilitar</button></li>
                                        <li class="list-item m-0" *ngIf="user.active"><button class="btn btn-danger rounded-0" (click)="disableUser(user.id)">Deshabilitar</button></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary rounded-0 px-3 shadow-sm" (click)="newUser()">Nuevo usuario</button>
                </div>


                <h6 class="text-primary">Últimas 5 órdenes</h6>
                <hr />

                <div class="table-responsive">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Codigo</th>
                                <th>Alta</th>
                                <th>Unidades</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>{{order.id}}</td>
                                <td>{{order.code}}</td>
                                <td>{{order.creationDate | date: "dd/MM/yyyy hh:mm"}}</td>
                                <td>{{order.unitCount}}</td>
                                <td>{{order.statusId}}</td>
                                <td>
                                    <a routerLink="/operadores/ordenes/{{order.id}}/revisión">Detalles</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>


        </div>

    </div>
</div>


