

<div class="container p-4 rounded-0">
    <div class="modal-header">
        <h5 class="modal-title">Seleccione una unidad con código: <span class="text-muted">{{units[0].code}}</span></h5>
    </div>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-stripped table-bordered">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Código</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unit of units">
                        <td>{{unit.type.code}} - {{unit.type.name}}</td>
                        <td>{{unit.code}}</td>
                        <td><button class="btn btn-link m-0 p-0" (click)="select(unit)">Seleccionar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
    </div>



</div>
