<div class="container">
    <div class="row">
        <div class="col">

            <h5 class="text-primary">Clientes</h5>
            <hr />

            <table class="table table-bordered table-hover table-stripped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Institución</th>
                        <th>Email</th>
                        <th>Alta</th>
                        <th>Estado</th>
                        <th>Órdenes</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.firstname}} {{user.lastname}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.institution.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.creationDate | date: "dd/MM/yyyy"}}</td>
                        <td>
                            {{user.accountConfirmed ? (user.active ? 'ACTIVO' : 'INACTIVO') : 'PENDIENTE'}} <span *ngIf="user.accountConfirmed"> / </span>
                            <span *ngIf="user.accountConfirmed && user.active" class="text-primary" style="cursor: pointer" (click)="disableUser(user.id)">Desactivar</span> <span *ngIf="user.accountConfirmed && !user.active" class="text-primary" style="cursor: pointer" (click)="enableUser(user.id)">Activar</span>

                        </td>
                        <td>{{user.orderCount}}</td>
                        <td>
                            <span class="text-primary" style="cursor: pointer" (click)="edit(user.id)">Editar</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



