<div class="container">
    <div class="row">
        <div class="col-12">

            <h5 class="text-primary ">Usuarios</h5>
            <hr />

            <table class="table table-bordered table-hover table-stripped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Usuario</th>
                        <th>Alta</th>
                        <th>Estado</th>
                        <th>Órdenes</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.firstname}} {{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.creationDate | date: "dd/MM/yyyy"}}</td>
                        <td>{{user.accountConfirmed ? (user.active ? 'ACTIVO' : 'INACTIVO') : 'PENDIENTE'}}</td>
                        <td>{{user.orderCount}}</td>
                        <td>
                            <ul class="list-inline m-0">
                                <li class="list-item m-0"><span class="text-primary" (click)="enableUser(user.id)">Habilitar</span></li>
                                <li class="list-item m-0"><span class="text-primary" (click)="disableUser(user.id)">Deshabilitar</span></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


