<div class="container">

    <div class="row">

        <div class="col-md-12 mx-auto">

            <div *ngIf="isLoading" class="d-flex justify-content-center">
                <div class="loader"></div>
            </div>

            <div *ngIf="!isLoading">

                <h5 class="text-primary mt-3">Órden</h5>
                <h6 class="text-muted">{{order.id | leftzeroes}}</h6>
                <hr />

                <div class="row mb-3">

                    <div class="col-sm-2 col-md-3 mb-2">
                        <span class="h6">Código:</span><br /> <span>{{order.code}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3 mb-2">
                        <span class="h6">Fecha de alta:</span><br /> <span>{{order.creationDate | date: "dd/MM/yyyy hh:mm:ss"}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Última modificación:</span><br /> <span>{{order.lastModified | date: "dd/MM/yyyy hh:mm:ss"}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Estado:</span><br />
                        <span [class.text-success]="order.status.name === 'EN_PROCESO'"
                              [class.text-primary]="order.status.name === 'IRRADIADA'"
                              [class.text-warning]="order.status.name === 'PENDIENTE'"
                              [class.text-danger]="order.status.name === 'RECHAZADA'">{{order.status.name}}</span>
                    </div>


                </div>

                <div class="row mb-3">

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Ingresada por:</span>
                        <br />
                        <span>{{order.owner.firstname}} {{order.owner.lastname}}</span>
                        <span> /</span>
                        <br />
                        <span class="text-primary">{{order.owner.institution.name}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Aceptada por:</span><br />
                        <span *ngIf="!order.orderAcceptor">-</span>
                        <span *ngIf="order.orderAcceptor">{{order.orderAcceptor.firstname}} {{order.orderAcceptor.lastname}} <br /> {{order.acceptedOn | date: "dd/MM/yyyy hh:mm"}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Prioridad:</span><br /> <span>{{order.priority.name}}</span>
                    </div>

                    <div class="col-sm-2 col-md-3">
                        <span class="h6">Transportista:</span><br /> <span>{{order.carrier}}</span>
                    </div>

                </div>

                <h6 class="text-primary  mt-4">Unidades</h6>
                <hr />


                <div class="row mb-3 ">

                    <div class="col-sm-2">
                        <span class="h6 mr-1">Total: </span> <span>{{order.unitCount}}</span>
                    </div>

                    <div *ngFor="let mapping of order.unitTypeMappings" class="col-sm-2">
                        <span class="h6 mr-1">{{mapping.unitType.code}}: </span> <span>{{mapping.count}}</span>
                    </div>

                </div>

                <hr />

                <div *ngIf="canIrradiate">

                    <h6 class="text-primary mb-3">Irradiación</h6>

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" [formControl]="usbReaderEnabled">
                        <label class="custom-control-label" for="customCheck1">Uso de Lector USB</label>
                    </div>


                    <div class="form-row">

                        <div class="col-5">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Etiqueta</span>
                                </div>
                                <input type="text" class="form-control"
                                       [formControl]="selectedTag"
                                       [focused]="isWaitingForTag"
                                       (keydown.enter)="onTagConfirmed(); $event.preventDefault()"
                                       (keydown.tab)="onTagConfirmed(); $event.preventDefault()">
                            </div>

                            <div *ngIf="hasTagError" class="mt-2 d-block text-danger">
                                <span *ngIf="selectedTag.errors?.required">Ingrese etiqueta</span>
                            </div>

                        </div>

                        <div class="col-5">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Etiqueta</span>
                                </div>
                                <input class="form-control" type="text"
                                       [formControl]="selectedUnitCode"
                                       [focused]="isWaitingForUnit"
                                       (keydown.enter)="selectUnit(); $event.preventDefault()"
                                       (keydown.tab)="selectUnit(); $event.preventDefault()">
                            </div>

                            <div *ngIf="hasUnitCodeError" class="mt-2 d-block text-danger">
                                <span *ngIf="selectedUnitCode.errors?.required">Ingrese código de la unidad</span>
                            </div>
                            <div *ngIf="unitCodeDoesNotExist" class="mt-2 d-block text-danger">
                                <span>No existen unidades pendientes con el código {{lastErrorCode}}</span>
                            </div>


                        </div>

                        <div class="col-2">

                            <button class="btn btn-block btn-primary rounded-0">Agregar</button>

                        </div>


                    </div>


                    <h6 class="text-primary mb-1 mt-3">Unidades seleccionadas: </h6>
                    <hr *ngIf="!isIrradiationInProcess" />
                    <div class="my-3">
                        <app-progress-bar *ngIf="isIrradiationInProcess"></app-progress-bar>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-stripped">
                            <thead>
                                <tr>
                                    <th>Etiqueta</th>
                                    <th>Tipo</th>
                                    <th>Código</th>
                                    <th *ngIf="!isIrradiationInProcess">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let unit of selectedUnits">
                                    <td>{{unit.irradiationTag}}</td>
                                    <td>{{unit.type.code}} - {{unit.type.name}}</td>
                                    <td>{{unit.code}}</td>
                                    <td *ngIf="!isIrradiationInProcess">
                                        <span class="btn-link" style="cursor: pointer;" (click)="removeUnit(unit)">Eliminar</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center mb-2">
                        <button *ngIf="!isIrradiationInProcess" class="btn btn-primary px-5 rounded-0" [disabled]="!canStart" (click)="startIrradiation()">Comenzar</button>
                        <button *ngIf="isIrradiationInProcess" class="btn btn-danger px-5 rounded-0" (click)="stopIrradiation()" [disabled]="!canStop">Finalizar</button>
                    </div>

                    <h6 class="text-primary mb-1 mt-3 align-self-start">Unidades pendientes de irradiación: </h6>
                    <hr>
                    <div class="table-responsive" *ngIf="pendingUnits">
                        <table class="table table-bordered table-hover table-stripped">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Código</th>
                                    <th *ngIf="hasTag">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let unit of pendingUnits">
                                    <td>{{unit.type.code}} - {{unit.type.name}}</td>
                                    <td>{{unit.code}}</td>
                                    <td *ngIf="hasTag">
                                        <button class="btn btn-link p-0 m-0" style="font-size: .925rem" (click)="selectManually(unit)">Seleccionar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <h6 class="text-primary mb-1 mt-3">Historial de irradiaciones: </h6>
                <hr />

                <ul class="list-unstyled">

                    <li class="media mb-3 border-bottom" *ngFor="let irradiation of irradiations">

                        <img class="mr-3" [src]="irradiation.irradiator.avatarUrl" height="50" width="50">
                        <div class="media-body">

                            <h6 class="mt-0 mb-1">Fecha: </h6>
                            <p class="text-primary">{{irradiation.irradiationStart | date: "dd/MM/yyyy hh:mm"}}</p>

                            <div class="container">

                                <div class="row">

                                    <div class="col-md-3 pl-0">
                                        <h6>Operador</h6>
                                        <p>{{irradiation.irradiator.firstname}} {{irradiation.irradiator.lastname}}</p>
                                    </div>

                                    <div class="col-md-3 pl-0">
                                        <h6>Etiqueta</h6>
                                        <p>{{irradiation.irradiationTag}}</p>
                                    </div>

                                    <div class="col-md-3 pl-0">
                                        <h6>Total unidades: </h6>
                                        <p>{{irradiation.units.length}}</p>
                                    </div>

                                    <div class="col-md-3 pl-0">
                                        <h6>Tiempo total de irradiación: </h6>
                                        <p>{{irradiation.irradiationTime}} min</p>
                                    </div>

                                </div>
                            </div>


                            <table class="table table-bordered table-hover table-stripped">
                                <thead>
                                    <tr>
                                        <th>Etiqueta</th>
                                        <th>Codigo</th>
                                        <th>Tipo</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let unit of irradiation.units">
                                        <td>{{irradiation.irradiationTag}}</td>
                                        <td>{{unit.code}}</td>
                                        <td>{{unit.type.code}} - {{unit.type.name}}</td>
                                        <td>{{irradiation.irradiationStart | date: "hh:mm:ss"}}</td>
                                        <td>{{irradiation.irradiationEnd | date: "hh:mm:ss"}}</td>
                                        <td>{{irradiation.irradiationTime}} min</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h6 class="mt-0 mb-1 text-success">Comentarios: </h6>
                            <p class="text-muted">{{irradiation.comments}}</p>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</div>
