<div class="container">

    <div class="row">

        <div class="col">

            <h5 class="text-primary font-weight-normal mt-3">Ingreso de parámetros</h5>
            <hr />

            <form>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Distribución de la oferta: </label>
                            <select class="custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mu: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sigma: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Incremento promedio diario: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Distribución de la demanda: </label>
                            <select class="custom-select">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mu: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Beta: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Incremento promedio diario: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                </div>


                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Distribución de la oferta: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Distribución de la oferta: </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-primary px-5 rounded-0">Simular</button>
                </div>

            </form>

            <h5 class="text-primary font-weight-normal">Gráfico</h5>
            <hr />

            <div>
                <img src="assets/simulation.png" style="max-width: 100%; height: auto" class="img-thumbnail" />
            </div>

            <h5 class="text-primary font-weight-normal mt-5">Conclusión</h5>
            <hr />

            <p class="h5 font-weight-normal mb-5">El stock se quiebra en promedio en el día 3 con una probabilidad de quiebre de <span class="h5">80%</span> y una probabilidad de no quiebre de <span class="h5">20%</span> </p>





        </div>
    </div>

</div>
