<div class="d-flex align-items-center flex-wrap my-3">
    <ul class="pagination d-inline-flex justify-content-center flex-grow-1 mt-0 mb-0">
        <li class="page-item" [class.disabled]="!hasPrevious">
            <a class="page-link" (click)="first()">
                <span>&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item" [class.disabled]="!hasPrevious">
            <a class="page-link" (click)="previous()">
                <span>&laquo;</span>
            </a>
        </li>
        <li *ngFor="let link of links" class="page-item" [class.active]="link === page">
            <a class="page-link" (click)="goToPage(link)">{{link}}</a>
        </li>
        <li class="page-item" [class.disabled]="!hasNext">
            <a class="page-link" (click)="next()">
                <span>&raquo;</span>
            </a>
        </li>
        <li class="page-item" [class.disabled]="!hasNext">
            <a class="page-link" (click)="last()">
                <span>&raquo;&raquo;</span>
            </a>
        </li>

    </ul>


  <div class="d-inline-flex align-items-center">
    <label class="m-0 p-0 mr-2">Items</label>
    <select class="custom-select" [formControl]="pageSizeControl">
      <option *ngFor="let pageSize of pageSizes" [ngValue]="pageSize">{{pageSize}}</option>
    </select>
  </div>

</div>
