<div class="p-5">
    <div class="card p-5 shadow-sm mt-3 rounded-0">
        <img src="assets/logo.png" class="d-block mx-auto img-fluid" style="max-height: 60px">
        <hr class="d-block w-100 mx-auto mt-5">
        <form [formGroup]="loginForm" class="mt-3 rounded-0" (submit)="accept()">
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" class="form-control" formControlName="username" readonly>
            </div>
            <div *ngIf="submitted" class="text-danger">
                <p *ngIf="loginForm.controls.username.errors?.required">Ingrese nombre de usuario</p>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div *ngIf="submitted" class="text-danger">
                <p *ngIf="loginForm.controls.password.errors?.required">Ingrese contraseña</p>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-2">Ingresar</button>
            <div *ngIf="isLoading" class="text-center mt-3">
                <div class="d-inline-block loader"></div>
            </div>
            <p *ngIf="hasError" class="text-center text-danger mt-4">
                {{errorMsg}}
            </p>
        </form>
    </div>
</div>
