<div class="modal-content p-2">
    <div class="modal-header">
        <h5 class="modal-title">Irradiación de Hemocomponentes</h5>
    </div>
    <div class="modal-body">
        <label>Comentarios sobre el proceso: </label>
        <textarea class="form-control" rows="5" [formControl]="comments" [focused]="{should: true}"></textarea>
    </div>
    <div *ngIf="submitted">
        <p class="text-danger" *ngIf="comments.errors?.required">Ingrese comentarios sobre el proceso</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary rounded-0 px-5" (click)="close()">Guardar</button>
</div>
