<div class="container">

    <div class="row">

        <div class="col-12 mx-auto">

            <h5 class="text-primary font-weight-normal">Instituciones</h5>
            <hr />

            <form [formGroup]="searchForm">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label class="text-primary">Busqueda</label>
                            <input type="text" class="form-control" formControlName="name" />
                        </div>
                    </div>
                </div>
            </form>

            <hr />

            <div class="table-responsive">

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>CUIT</th>
                            <th>Email</th>
                            <th>Alta</th>
                            <th>Tipo</th>
                            <th>Usuarios</th>
                            <th>Ordenes</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let institution of institutions">
                            <td>{{institution.id}}</td>
                            <td>{{institution.name}}</td>
                            <td>{{institution.cuit | cuit}}</td>
                            <td>{{institution.email}}</td>
                            <td>{{institution.creation_date | date: "dd/MM/yyyy"}}</td>
                            <td>{{institution.type.name}}</td>
                            <td>{{institution.userCount}}</td>
                            <td>{{institution.orderCount}}</td>
                            <td class="align-middle">
                                <ul class="list-inline my-0">
                                    <li><a routerLink="/administradores/instituciones/{{institution.id}}">Detalles</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>


    </div>

</div>

<button (click)="createInstitution()" class="position-fixed btn-primary rounded-circle shadow" style="bottom: 20px; right: 20px; height: 56px; width: 56px; border: 0px; cursor: pointer">
    +
</button>
